<h1>Random Beer</h1>
<% randomBeer.forEach(beer => { %>
<img src="<%= beer.image_url %>" alt="" />
<h4><%- beer.name %></h4>
<p><%- beer.tagline %></p>
<p><%- beer.description %></p>
<h5>Food Pairing</h5>
<p><%- beer.food_pairing %></p>
<p><%- beer.brewers_tips %></p>
<% }); %>
